<nz-button-group>
	<button nz-button (click)="colorStore.color$.set('red')">Red</button>
	<button nz-button (click)="colorStore.color$.set('green')">Green</button>
	<button nz-button (click)="colorStore.color$.set('blue')">Blue</button>
</nz-button-group>

<input
	[style]="{ backgroundColor: colorStore.color$ | async }"
	[(ngModel)]="colorStore.color$.value"
/>
<span>{{ colorStore.color$ | async }}</span>

<button
	*ngIf="colorStore.slice.paused$ | async; else pause"
	nz-button
	(click)="colorStore.slice.unpause()"
>
	Unpause
</button>
<ng-template #pause>
	<button nz-button (click)="colorStore.slice.pause()">Pause</button>
</ng-template>
