<h1>Welcome to TinySlice! 🍕</h1>

Here's a familiar example of a counter:
<nz-divider></nz-divider>

<div class="counter">
	<nz-button-group>
		<button nz-button (click)="counterStore.decrement.next(1)">-1</button>
		<button nz-button (click)="counterStore.increment.next(1)">+1</button>
	</nz-button-group>

	<h2>
		<span>{{ counterStore.count$ | async }}</span>
	</h2>

	<button
		*ngIf="counterStore.slice.paused$ | async; else pause"
		nz-button
		(click)="counterStore.slice.unpause()"
	>
		Unpause
	</button>
	<ng-template #pause>
		<button nz-button (click)="counterStore.slice.pause()">Pause</button>
	</ng-template>
</div>

<nz-tabset>
	<nz-tab nzTitle="Color"><tinyslice-color></tinyslice-color></nz-tab>
	<nz-tab nzTitle="Request"><tinyslice-request></tinyslice-request></nz-tab>
</nz-tabset>
